
<form action="/Categoria/Adiciona" method="post">
    @Html.AntiForgeryToken()
    <label for="nome">Nome:</label>
    <input id="nome" name="categoria.Nome" />

    <label for="descricao">Descrição:</label>
    <input id="descricao" name="categoria.Descricao" />

    <input type="submit" />
</form>

